h1{
  font-size: 4.9em;
  text-align: center;
  font-family:chilanka;
  color:black;
  font-style: bold;

}
p{
  font-size: 3.2em;
  line-height:1.4;
  font-family: chilanka;
  font-style: bold;
  

  text-align: center;
}
body{
  background-color:#F5C400;

}
div{
  padding-left: 200px;
  text-align: center;
}
